syntax: glob

# Eclipse files
.classpath
.project
.cache
.target

# Java binaries
*.jar
*.class
*.war

# H2 db files
*.db

# Mac OS X files
.DS_store

# miscallenous files
.history

# vim files
*~
*.swp
*.vim

syntax: regexp

# sbt output files
target/
boot/
